---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import BlogList from '../../components/BlogList.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort((a, b) => {
	const dateA = a.data.publishedAt?.valueOf() ?? 0;
	const dateB = b.data.publishedAt?.valueOf() ?? 0;
	return dateB - dateA;
});
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="visually-hidden">ブログ一覧</h1>
			<BlogList posts={posts} />
		</main>
		<Footer />
	</body>
</html>
