:root {
	--accent: #D9A441;
	--accent-hover: #E3B55C;
	--accent-active: #B88A2E;
	--accent-muted: #BFA76A;

	--color-warning: #C9A24D;
	--color-error: #C25C5C;

	--bg-base: #333333;
	--text-primary: #DDDDDD;
	--text-secondary: #AAAAAA;
	--bg-card: #2A2A2A;
	--border-color: #4A4A4A;

	--box-shadow:
		0 2px 6px rgba(0, 0, 0, 40%), 0 8px 24px rgba(0, 0, 0, 30%), 0 16px 32px
		rgba(0, 0, 0, 30%);
}
html {
}
body {
	margin: 0;
    padding: 0;
	background: var(--bg-base);
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text-primary);
	font-size: 62.5%;
	line-height: 1.7;
	font-family: sans-serif;
	text-align: left;

	display: flex;
	flex-direction: column;
}
main {
	width: 720px;
	max-width: calc(100% - 2rem);
	min-height: 70vh;
	margin: auto;
	padding: 3rem 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1.5rem 0;
	color: var(--text-primary);
	line-height: 1;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1rem;
}
a {
	color: var(--accent);
	font-size: 1rem;
}
a:link {
	color: var(--accent-active);
}
a:visited {
	color: var(--accent-active);
}
a:hover {
	color: var(--accent-hover);
}
a:active {
	color: var(--accent-active);
}
p {
	font-size: 1rem;
}
hr {
	border: none;
	border-top: 1px solid var(--border-color);
}
@media (max-width: 720px) {
}
