---
import AboutHeroImage from '../assets/profile.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="about blog.itxryx.com"
	pubDate={new Date('Jan 01 2026')}
	heroImage={AboutHeroImage}
>
	<p>
	Hi!<br />
	👉 <a href="https://itxryx.com" target="_blank" rel="noopener noreferrer">itxryx.com</a>
	</p>
</Layout>
