---
import AboutHeroImage from '../assets/profile.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="about blog.itxryx.com"
	pubDate={new Date('Jan 01 2026')}
	heroImage={AboutHeroImage}
>
	<p>
	Hi!<br />
	👉 <a href="https://itxryx.com" target="_blank" rel="noopener noreferrer">itxryx.com</a>
	</p>
	<br />
	<small>
	このWebサイトではGoogle Analyticsを使用しています。
    <br />
    閲覧者のデータ収集のためにCookieを使用していますが、個人を特定するものではありません。
	</small>
</Layout>
