<!DOCTYPE html>
<html lang="ja">
<head>
</head>
<body>
<div>
    {% include "public/web/component/organism/header.twig" %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include "public/web//component/organism/footer.twig" %}
</div>
</body>
</html>
