---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="p-4">
	<nav aria-label="メインナビゲーション" class="flex items-center justify-between">
		<h2 class="m-0">
			<a href="/" class="flex font-display text-2xl font-bold text-text-primary no-underline">{SITE_TITLE}</a>
		</h2>
		<div class="internal-links">
		    <HeaderLink href="/about" class="px-2 font-display text-text-primary">About</HeaderLink>
		</div>
	</nav>
</header>
